<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: http://nwebsec.codeplex.com/wikipage?title=Configuration -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <x-Robots-Tag enabled="true" noIndex="true"/>
      <securityHttpHeaders>
        <!--<strict-Transport-Security max-age="00:01:00"/>-->
        <x-Content-Type-Options enabled="true"/>
        <x-Download-Options enabled="true"/>
        <x-Frame-Options policy="Deny"/>
        <x-XSS-Protection policy="FilterEnabled"/>
        <!--<content-Security-Policy-Report-Only enabled="false">
          <default-src self="true"/>
          --><!--<script-src>
              <add source="configscripthost" />
            </script-src>
            <media-src>
              <add source="fromconfig" />
            </media-src>--><!--
          <manifest-src self="true"/>
          <block-all-mixed-content enabled="true"/>
          --><!--<sandbox enabled="true" allow-forms="true" allow-modals="true" allow-orientation-lock="true" allow-popups-to-escape-sandbox="true" allow-presentation="true"/>--><!--
        </content-Security-Policy-Report-Only>-->
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Content-Security-Policy" value="script-src 'strict-dynamic' 'unsafe-hashed-attributes'; require-sri-for script style; block-all-mixed-content; disown-opener; worker-src 'none'; manifest-src 'none'; report-to=csp-endpoint"/>-->
        <!--<add name="Report-To" value="{ &quot;url&quot;: &quot;https://nwebsec.com/csp-reports&quot;, &quot;group&quot;: &quot;csp-endpoint&quot;, &quot;max-age&quot;: 10886400 }"/>-->
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
