<?xml version="1.0"?>

  <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <setNoCacheHttpHeaders enabled="true" />
    <redirectValidation enabled="true">
      <!--<add allowedUri="http://www.nwebsec.com/"/>-->
    </redirectValidation>
      
    <securityHttpHeaders>
      <x-XSS-Protection policy="FilterDisabled"/>
    </securityHttpHeaders>
  </httpHeaderSecurityModule>
