<?xml version="1.0"?>

  <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <setNoCacheHttpHeaders enabled="true" />
    <redirectValidation enabled="true">
      <add allowedDestination="http://www.nwebsec.com/"/>
    </redirectValidation>
      
    <securityHttpHeaders>
      <x-XSS-Protection policy="FilterDisabled"/>
      <content-Security-Policy enabled="true">
        <default-src none="true"/>
        <report-uri enableBuiltinHandler="true"/>
      </content-Security-Policy>
      <content-Security-Policy-Report-Only enabled="true">
        <default-src none="true"/>
        <report-uri enableBuiltinHandler="true"/>
      </content-Security-Policy-Report-Only>
    </securityHttpHeaders>
  </httpHeaderSecurityModule>
