<?xml version="1.0"?>
<sessionSecurity xmlns="http://nwebsec.com/SessionSecurityConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <sessionFixationProtection enabled="true" useMachineKey="false">
    <sessionAuthenticationKey value="0000000000000000000000000000000000000000000000000000000000000001"/>
  </sessionFixationProtection>
</sessionSecurity>