<?xml version="1.0"?>

  <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <setNoCacheHttpHeaders enabled="true" />
    <validateRedirects enabled="true">
      <add allowedUri="test" />
    </validateRedirects>
    <securityHttpHeaders>
      <x-XSS-Protection policy="FilterDisabled"/>
    </securityHttpHeaders>
  </httpHeaderSecurityModule>
