<?xml version="1.0"?>
<sessionSecurity xmlns="http://nwebsec.com/SessionSecurityConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<sessionIDAuthentication enabled="true" useMachineKey="false" authenticationKey="0000000000000000000000000000000000000000000000000000000000000001" />-->
  <sessionIDAuthentication enabled="true" useMachineKey="false" authenticationKeyAppsetting="NWebsecSessionAuthenticationKey"/>
</sessionSecurity>