@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              Hello, I am loaded in an Iframe. Wohoo.
        </div>
    </body>
</html>