@using NWebsec.Mvc.Extensions
@model dynamic

@{
    ViewBag.Title = "Referrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "_Layout";
}

<h2>Referrer policy test.</h2>
<p>
    <a href="http://www.nwebsec.com">External http</a><br/>
    <a href="https://www.nwebsec.com">External https</a><br/>
    @Html.ActionLink("Origin","Other")
</p>

@section metatags
{
    @Html.ReferrerPolicyMetaTag(policy => policy.None)
}
