@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              You framed me! My URL is:<br/> @Context.Request.Url
        </div>
    </body>
</html>