@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Other</title>
</head>
<body>
    <div>
        Headers in response:
    </div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            @{
                foreach (string headerName in Context.Response.Headers.Keys)
                {
                    foreach (string headervalue in Context.Response.Headers.GetValues(headerName))
                    {
                <tr>
                    <td>@headerName</td>
                    <td>@headervalue</td>
                </tr>
                    }

                }
                
            }
        </table>
    </div>
</body>
</html>
