@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Other</title>
    </head>
    <body>
        <div>
              It's alive!
        </div>
    </body>
</html>