<?xml version="1.0"?>
<!-- This web.config hides the presence of the NWebsec.AzureStartupTasks folder.-->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments >
          <add segment="NWebsec.AzureStartupTasks" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
