@using NWebsec.Mvc.HttpHeaders.Csp
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <script @Html.CspScriptNonce()>document.write("Hello world")</script>
            <style @Html.CspStyleNonce()>
                h1 {
                    font-size: 10em;
                }
            </style>  
        </div>
    </body>
</html>