@using NWebsec.AspNetCore.Mvc.HttpHeaders.Csp
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <embed nws-csp-plugin-type="application/htmlhelper" />
</body>
</html>