@using NWebsec.AspNetCore.Mvc.HttpHeaders.Csp
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <embed @Html.CspMediaType("application/htmlhelper") />
</body>
</html>