<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Mvc3BaseUri" value="http://localhost:8880/NwebsecMvc3TestSite"/>
    <add key="Mvc4BaseUri" value="http://localhost:8880/NwebsecMvc4TestSite"/>
    <add key="Mvc5BaseUri" value="http://localhost:8880/NwebsecMvc5TestSite"/>
    <add key="Mvc5OwinBaseUri" value="http://klings81:8880/NwebsecMvc5OwinTestSite"/>
    <add key="WebForms35BaseUri" value="http://localhost:8880/NwebsecWebForms35TestSite"/>
    <add key="WebForms35BaseUriHttps" value="http://localhost:4443/NwebsecWebForms35TestSite"/>
    <add key="SinglePageApplicationBaseUri" value="http://localhost:8880/SinglePageApplicationTestSite"/>
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
