<?xml version="1.0" encoding="utf-8" ?>
<nwebsec>
  <httpHeaderModule>

    <setNoCacheHttpHeaders enabled="true" />
    <!-- Enable this to suppress the classic ASP.NET version headers and rewrite the server header. Requires integrated pipeline mode. -->
    <suppressVersionHttpHeaders enabled="true" serverHeader="Ninja server 1.0"/>

    <!-- If you are unsure how these headers work, look them up before you enable them! They can break your application! -->
    <securityHttpHeaders>
      <!-- x-Frame-Options supports these values:  Disabled, Deny, SameOrigin -->
      <x-Frame-Options policy="Disabled"/>
      <!-- strict-Transport-Security expects a TimeSpan, zero disables header -->
      <strict-Transport-Security max-age="00:00:00" includeSubdomains="true"/>
      <x-Content-Type-Options enabled="false"/>
      <x-Download-Options enabled="false"/>
      <!-- x-XSS-Protection policy must be one of: Disabled, FilterDisabled, FilterEnabled. -->
      <x-XSS-Protection policy="Disabled" blockMode="true"/>

      <!-- x-Content-Security-Policy-Header enables directives through the "X-Content-Security-Policy" header -->
      <!-- x-WebKit-CSP-Header enables directives through the "x-WebKit-CSP-Header" header -->
      <content-Security-Policy enabled="true" x-Content-Security-Policy-Header="false" x-WebKit-CSP-Header="false">
        <default-src enabled="true" none="true" self="true">
          <add source="nwebsec.codeplex.com"/>
          <remove source="nwebsec.codeplex.com"/>
          <clear/>
        </default-src>
        <object-src none="true" />
        <!-- These are shorthand versions if you only have one source-->
        <!--<add name="default-src" source="'self'"/>
          <add name="object-src" source="'self'"/>
          <add name="style-src" source="'self'"/>
          <add name="img-src" source="'self'"/>
          <add name="media-src" source="'self'"/>
          <add name="frame-src" source="'self'"/>
          <add name="font-src" source="'self'"/>
          <add name="connect-src" source="'none'"/>
          <add name="report-uri" source="/reporthandler"/>-->
        <!-- You can also add several sources to one directive -->
        <!--<add name="script-src" source="'self'">
            <sources>
              <add source="nwebsec.codeplex.com"/>
              <add source="scripts.nwebsec.com"/>
            </sources>
          </add>
          </directives>-->
      </content-Security-Policy>
      <!-- This section works exactly like "x-Content-Security-Policy", but will output report-only headers instead. -->
      <content-Security-Policy-Report-Only  x-Content-Security-Policy-Header="false" x-WebKit-CSP-Header="false">

      </content-Security-Policy-Report-Only>
    </securityHttpHeaders>
  </httpHeaderModule>
</nwebsec>