@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
@await FlushAsync()

<body>
<div>

</div>
</body>
</html>
