@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To NWebSec Sample Project</h1>
    <p>Learn about <a href="https://www.nwebsec.com/">Using This PowerFull Library in ASP.NET Core</a>.</p>
    <p>GitHub Source<a href="https://github.com/NWebsec/NWebsec">NWebSec</a>.</p>
    <p>You Can See Sample Configs with description and references in Startup.cs File</p>
</div>
