@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<a href="https://www.nwebsec.com" nws-referrerpolicy="NoReferrer"></a>
<area href="https://www.nwebsec.com" nws-referrerpolicy="Origin" alt="yolo" />
<img href="https://www.nwebsec.com" nws-referrerpolicy="Origin" alt="yolo" />
<iframe href="https://www.nwebsec.com" nws-referrerpolicy="Origin" alt="yolo" />
<link rel="alternate" href="https://www.nwebsec.com" nws-referrerpolicy="OriginWhenCrossOrigin" alt="yolo" />
<script src="https://www.nwebsec.com" nws-referrerpolicy="Origin"></script>
