@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@*<object data="http://nwebsec.com/hello" nws-csp-plugin-type="application/pdf" ></object>
<embed src="http://nwebsec.com/hello" nws-csp-plugin-type="application/embedpdf"/>*@

<script ></script>
<script nws-csp-add-nonce="true"></script>

